@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

    .all-apointments{
      overflow-x: hidden;
      margin-bottom: 2rem;
    }
    .title-custom {
        background: #E43F6F;
        border-radius: 15px;
        padding: 14px 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fff;
        text-align: start;
    }

    .all-apointments header,
    .row {
        display: flex;
        padding: 12px 21px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        /* aligns all child elements (flex items) in a row */
    }

    .column {
        flex: 1;
        color: #464E5F;
        /* distributes space on the line equally among items */
    }

    .column-sm {
        flex: 0.3;

        /* distributes space on the line equally among items */
    }

    .all-apointments header {
        margin-top: 19px;
        background: #F3F6F9;
        border-radius: 6px;
        font-size: 12px;
    }

    a:hover, a:visited, a:link, a:active{
        text-decoration: none;
        color: #464E5F;
    }

    .not-completed-box{
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 30px;
        background: #E8F9F8;
        border-radius: 15px;
        color: #464E5F;
        text-align: start;
    }

    #not-completed{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }