@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

    .all-apointments {
        margin-top: 15px;
    }

    .title {
        background: #E43F6F;
        border-radius: 15px;
        padding: 14px 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fff;
    }

    .all-apointments header,
    .row {
        display: flex;
        padding: 12px 21px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        /* aligns all child elements (flex items) in a row */
    }

    .col {
        flex: 1;
        color: #464E5F;
        /* distributes space on the line equally among items */
    }

    .col-sm {
        flex: 0.3;

        /* distributes space on the line equally among items */
    }

    .all-apointments header {
        margin-top: 19px;
        background: #F3F6F9;
        border-radius: 6px;
        font-size: 12px;
    }

    a:hover, a:visited, a:link, a:active{
        text-decoration: none;
        color: #464E5F;
    }