@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

html, body{
    overflow-x: hidden;
}

.confirm-con
{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0 15rem;
    margin-top: 7.6rem;
    gap: 20px;
}

.booking_info_section, .member_info_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000000;
}

.title {    
    font-weight: 600;
    font-size: 16px;
    padding: 5px 20px;
}

.booking, .member {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
    padding: 15px 35px;
    background-color: #FFFFFF;
    border: 2.5px solid #CBD2E0;
    border-radius: 6px; 
    font-size: 14px;
    font-weight: 400;
}

.booking .info-booking{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.booking .price {
    color: #E43F6F;
}

.info-member {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: flex-start;
    gap: 50px;
}

.details-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.confirmB {
    display: flex;
    justify-content: flex-end;
}

.confirmB button{
    background: #E43F6F;
    border-radius: 36px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 188px;
    height: 40px;
}

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.confirmation .text{
    font-size: 20px;
    word-wrap: break-word;
}

.confirmation .subtext{
    font-size: 16px;
    word-wrap: break-word;
}

@media screen and (max-width: 560px) {
    .confirm-con{
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
  }




