@import url('https://fonts.googleapis.com/css?family=Roboto');

footer{
    width:100%;
    position:absolute;
    font-family: 'Roboto';
    bottom:0;
    left:0;
    background-color: #00BFB4;
}

#footertext{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 77px;
    color: white;
    font-size: 12px;
    padding: 0.1px;;
}