@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lexend');

#header-component{
    width:100%;
    position:absolute;
    font-family: 'Roboto';
    top:0;
    left:0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#lowerheader{
    text-align: center;
    padding: 0.1px;
    background-color: #00BFB4;
}

#lowertext{
    align-self: center;
    color: white;
}

#wholelogo{
    display: flex;
    text-decoration: none;
}

#logoicon{
    margin-left: 77px;
    align-self: flex-start;
    
}

#logotext{
    font-family: 'Lexend';
    vertical-align: top;
    font-size: 29px;
    color: #404040;
}