@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lexend');

#header-component{
    width:100%;
    position:absolute;
    font-family: 'Roboto';
    top:0;
    left:0;
}

#lowerheader{
    text-align: center;
    padding: 0.1px;
    background-color: #00BFB4;
}

#lowertext{
    align-self: center;
    color: white;
    text-align: center;
    margin-top:16px;
    margin-bottom:16px;
    font-size: 20px;
}

#wholelogo{
    display: flex;
    text-decoration: none;
}

#logoicon{
    margin-left: 77px;
    align-self: flex-start;
    position: relative;
}

#logotext{
    font-family: 'Lexend';
    vertical-align: top;
    font-size: 29px;
    color: #404040;
    margin-top: 45px;
    margin-left: 185px;
    position: absolute;
}

@media screen and (max-width: 450px) {
    #logoicon{
        margin-left: 0;
    }
    #logotext{
        margin-left: 108px;
        font-size: 25px;
    }

    #lowertext{
        font-size: 18px;
    }
  }