/*style for upcomming apointments*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  /* box-shadow: 0 0 20px 6px #090b6f85;  */
}

button, input[type='submit'] {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #545454;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 36px;
  background: none;
}

/* top buttons for login form*/
.upbtns{
  margin: 10px;
}
.sign-in {
  color: #FFFFFF;
  background: #00BFB4;
}

/* form title-> h1, form subtitle-> p */
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: #000000;
  margin-bottom: 10px;
}
p {
  font-weight: 400;
  line-height: 14px;
  color: #545454;
  margin-bottom: 50px;
}

/* labels for inputs */
.row label {
  font-weight: 400;
  line-height: 14px;
  color: #AAAAAA;
}
.row input {
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 0.7px solid #AAAAAA;
    background-color: none;
    padding: 5px;
    margin: 8px 0;
    margin-bottom: 15%;
    width: 100%;  
}

input[type='submit'] {
  margin-left: 20px;
  background: #E43F6F;
  color: #FFFFFF;
}

/* forgot my pass link */
.forgot-pass {
  color: #545454;
}
.forgot-pass , .loginbtn, .registerbtn {
  margin-bottom: 5px;
}

/* sign as doctor/patient link*/
.sign-as a{
  color: #00BFB4;
}
.sign-as {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* top buttons in register form */
.sign-in2 {
  background: none;
}
.register2 {
  color: #FFFFFF;
  background: #00BFB4;
}


a:hover{
  text-decoration: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eecccc;
  opacity: 1; /* Firefox */
}



