body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0;
}

#content{
    margin-top: 6.5rem;
    padding: 0;
}

#main-page-content{
    padding: 5px;
}

.custom-container{
    display: flex;
    justify-content: space-evenly;
    align-items: start;      
}

.adtitle{
    font-size: 2rem; 
    line-height: 150%; 
    color: #00BFB4;
}


.livesearch {
    display: none;
}

#alogout{
    padding: 8px 35px;
    background: #00BEE7;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.aLogoutHeader{
    margin: 5px;
}

@media screen and (max-width: 560px) {
    .custom-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }
    .adtitle{
        font-size: 1.5rem;
    }
    
  }