@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

/* -------------- FOR ALL POP UPS --------------- */
.popUp {
    /* change visibility when pop up */
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    background: #F5F5F5;
    border-radius: 5px;
    padding: 15px;

    width: 50%;
}

form {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
}

.title {
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
}


/* pop ups btns*/
.bottombtns {
    padding: 5px;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-right: 10px;
    position: relative;
    bottom: -20px;
}

.cancel , .send , .confirm, .save {
    background: #404040;
    border-radius: 36px;
    border: none;
    height: 40px;
    width: 120px;
    color:#FFFFFF;
}

.send, .confirm, .save {
    background: #00BFB4;
}


/* --------------------------------------------  */




/*---------------- REVIEW POP UP --------------- */
/* title of box area */
.review-head {
    display: flex;
    justify-content: space-between;
}

.stars {
    position: relative;
    bottom: -5px;
}


/* comment area */
.comment {
    padding: 5px;
    margin-top: 5px;
}

.comment textarea {
    text-align:left;
    height: 157px;
    background: #FFFFFF;
    border: 1px solid #B5B5C3;
    border-radius: 10px;
    padding: 10px;
    width: 100%; 
    resize: none;
}

/*---------------------------------------------- */



/*---------------- CANCEL POP UP --------------- */
#cancel-title {
    font-size: 16px; 
}

#ccancelbtn , #confirmbtn {
    margin-top: 10px;
}
/*---------------------------------------------- */





















