html,body{
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

#profile-page-content{
    margin-top: 6.5rem;
    display: flex;
}

.prof-section {
    padding: 5px !important;
 }

