@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,body{
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
}

#content{
    margin-top: 6.5rem;
    padding: 0;
}

#searching-for-doctor-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 1.5rem;
}
.searching-section {
    padding: 5px !important;
 }

 #doctor-search{
    margin-right: 0.5rem;
 }

.doctor{
    padding: 23px 31px;
    background-color: #FFFFFF;
    display:flex;
    flex-direction: row;
    font-family: 'Inter';
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}
.doctor>div>label{
    display: block;
}
#section_2{
    display:flex;
    flex-direction: row;
}
.book_appointment{
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    margin:10px 10px;
}
.price{
    display: flex;
    background-color: #E8F9F8;
    border-radius: 155px;
    padding: 15px 32px;
    text-align: center;
    margin:10px 10px;
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
}
#address{
    margin-top: 18px;
}

@media all and (max-width: 767px) {
    .doctor {
        flex-direction: column;
    }
    #section_2{
        align-self: flex-end;
    }
}

