select{
    width: 40%;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    
}

#mysearch {
    height: 48px;
    overflow-x: scroll;
    white-space:nowrap;
    margin-left: 0.5rem;

}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.search>button {
    margin-left: 0.5rem;
    width: 66px;
    height: 48px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #E43F6F;
}