@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.doctor{
    padding: 23px 31px;
    background-color: #FFFFFF;
    display:flex;
    font-family: 'Inter';
    margin-bottom: 20px;
}
.doctor>div>label{
    display: block;
}
#section_1{
    width: 70%;
}
#section_2{
    width: 30%;        
}
#section_2_supsec_2{
    display: flex;
    float:right;
}
#section_2_supsec_2>button{
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Inter';
}
#stars{
    width: 100%;
    display: block;
    text-align: right;
    margin-bottom: 16px;
}
#price{
    background: #E8F9F8;
    border-radius: 155px;
    border: none;
    padding: 16px 23px;
    text-align: center;
    font-style: normal;
    margin-right: 20px;
}
.circle{
    border-radius: 50%;
}
#address{
    margin-top: 18px;
}