@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.doctor{
    padding: 23px 31px;
    background-color: #FFFFFF;
    display:flex;
    font-family: 'Inter';
    margin-bottom: 20px;
}
.doctor>div>label{
    display: block;
}
#section_1{
    width: 70%;
}
#section_2{
    display:flex;
    width: 30%;       
}
.book_appointment{
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    margin:10px 10px;
}
.price{
    display: flex;
    background-color: #E8F9F8;
    border-radius: 155px;
    padding: 15px 32px;
    text-align: center;
    margin:10px 10px;
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
}
#address{
    margin-top: 18px;
}