@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


    .all-services {
        margin-top: 0;
        font-style: normal;
        font-family: 'Inter';
    }

    .title {
        background: #E43F6F;
        border-radius: 15px;
        padding: 14px 30px;
        font-family: 'Roboto';
        font-size: 20px;
        color: #fff;
    }

    section {
        padding: 30px 50px;

    }

    .service {
        display: flex;
        padding: 15px 22px;
        font-weight: 600;
        font-size: 14px;
        /* aligns all child elements (flex items) in a service */
    }

    .colprice {
        text-align: end;
    }

    .el {
        flex: 1;
        color: #464E5F;
        /* distributes space on the line equally among items */
    }

    .el-sm {
        flex: 0.3;

        /* distributes space on the line equally among items */
    }

    
    hr {
        border: 1px solid #CBD2E0;
        /* background:#CBD2E0 ; */
        background-color: #CBD2E0;
    }

    hr:last-child {
        display: none;
        }


    a:hover, a:visited, a:link, a:active{
        text-decoration: none;
    }

    @media screen and (max-width: 560px) {
        section {
            padding: 30px 15px;
    
        } 
      }
 