/*style for upcomming apointments*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.container {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; 
  /* οταν flex-direction:column align-items-> τον άξονα x , justify-content ->  τον άξονα y me row το ανάποδο */
  /* box-shadow: 0 0 20px 6px #090b6f85;  */
}

button, .loginbtn, .registerbtn {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #545454;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 36px;
  background: none;
}

/* form title-> h1, form subtitle-> p */
.title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: #000000;
  margin-bottom: 10px;
}

.title p {
  font-weight: 400;
  line-height: 14px;
  color: #545454;
  margin-bottom: 50px;
}


/* labels for inputs */
.row label {
  font-weight: 400;
  line-height: 14px;
  color: #AAAAAA;
}

.row input {
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 0.7px solid #AAAAAA;
    background-color: none;
    padding: 5px;
    margin: 8px 0;
    margin-bottom: 15%; 
    width: 100%;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eecccc;
  opacity: 1; /* Firefox */
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 110%;
}

.column {
  flex: 50%; 
}
  
@media screen and (max-width: 600px) {
  .box {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .column{
    width: 100%;
  }
}



